body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0px;    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {    
    width: auto;
}

.table th, .table td {    
    vertical-align: middle;
}

.table th {
    text-align: center;
}

.form-width {
    width:40%;
}

.descript {
    border-radius: 15px;
    background-color:paleturquoise;
    border: 2px solid turquoise;
}

.mybtn {
    max-width: 100%;
    border-radius: 8px;
    color: white;
}


.mybtn a {
    color: white;
    text-decoration: none;
}
