<div class="col-12 position-relative d-flex justify-content-center align-items-center m-0">
    <div class="col-4">
        <h1 class="text-center text-uppercase font-weight-bold text-info">Welcome to Application For Testing!</h1>
    </div>
    <div class="col-8">
        <p class="lead">
            This web application, using ASP.NET MVC 5, allows users to test their knowledge in popular programming
            languages and prepare for the computer knowledge test
        </p>
    </div>
</div>
<div class="col-12 my-auto">
    <p class="font-weight-bolder text-uppercase text-warning text-center my-md-2">To select a test, login the site or register</p>
    <IMG class="rounded mx-auto d-block my-md-5" src="~/Content/images/mainImage.jpg" alt="Image 'Testing'">
</div>

